@import 'tailwindcss';
@import 'pretendard/dist/web/variable/pretendardvariable.css';

@font-face {
  font-family: 'KBLJump-EB-Extended';
  src: url('/src/assets/fonts/KBLJump_EB_Extended.ttf');
}

@font-face {
  font-family: 'SF-Pro';
  src: url('/src/assets/fonts/SF-Pro.ttf');
}

@theme {
  --font-pretendard: 'Pretendard Variable', Pretendard, sans-serif;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1080px;
  --breakpoint-wide: 1280px;
}

:root {
  --font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

html,
body,
#root {
  height: 100%;
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
